:root {
  /* ── Grey ─────────────────────────────────────────────────────────────────── */
  --grey-50:  #FAFAFA;
  --grey-100: #F5F5F5;
  --grey-200: #E6E6E6;
  --grey-300: #D6D6D6;
  --grey-400: #A5A5A5;
  --grey-500: #767676;
  --grey-600: #575757;
  --grey-700: #434343;
  --grey-800: #212121;
  --grey-900: #1A1A1A;
  --grey-950: #0A0A0A;

  /* ── Blue ─────────────────────────────────────────────────────────────────── */
  --blue-50:  #F1F5FF;
  --blue-100: #E5EBFF;
  --blue-200: #CEDAFF;
  --blue-300: #A6B9FF;
  --blue-400: #758DFF;
  --blue-500: #3D55FF;
  --blue-600: #1623FF;
  --blue-700: #040DFD;
  --blue-800: #030BD9;
  --blue-900: #050BAD;
  --blue-950: #000976;

  /* ── Green ────────────────────────────────────────────────────────────────── */
  --green-50:  #F1FFE4;
  --green-100: #DFFFC6;
  --green-200: #C1FF93;
  --green-300: #9AFF54;
  --green-400: #77F922;
  --green-500: #54DB02;
  --green-600: #40B300;
  --green-700: #318803;
  --green-800: #2A6B09;
  --green-900: #255A0D;
  --green-950: #0F3201;

  /* ── Yellow ───────────────────────────────────────────────────────────────── */
  --yellow-50:  #FCFEE8;
  --yellow-100: #FAFFC2;
  --yellow-200: #F9FF88;
  --yellow-300: #FCFF43;
  --yellow-400: #FFF910;
  --yellow-500: #EFDF03;
  --yellow-600: #DDBC00;
  --yellow-700: #A47E04;
  --yellow-800: #87630C;
  --yellow-900: #735010;
  --yellow-950: #432B05;

  /* ── Red ──────────────────────────────────────────────────────────────────── */
  --red-50:  #FFF1F0;
  --red-100: #FFDFDD;
  --red-200: #FFC4C1;
  --red-300: #FF9A95;
  --red-400: #FF6159;
  --red-500: #FF3126;
  --red-600: #FC1206;
  --red-700: #DD0B00;
  --red-800: #AF0D05;
  --red-900: #90130C;
  --red-950: #500400;

  /* ── Purple ───────────────────────────────────────────────────────────────── */
  --purple-50:  #FBF2FF;
  --purple-100: #F6E4FF;
  --purple-200: #EEC8FF;
  --purple-300: #E59CFF;
  --purple-400: #D861FF;
  --purple-500: #CB27FF;
  --purple-600: #BE06F3;
  --purple-700: #B001DC;
  --purple-800: #8603A5;
  --purple-900: #710986;
  --purple-950: #4D005C;

  /* ── Orange ───────────────────────────────────────────────────────────────── */
  --orange-50:  #FFF9EC;
  --orange-100: #FFF2D2;
  --orange-200: #FFE2A5;
  --orange-300: #FFCB6C;
  --orange-400: #FFAA30;
  --orange-500: #FF8F08;
  --orange-600: #F87700;
  --orange-700: #DC5F01;
  --orange-800: #A2450A;
  --orange-900: #823A0C;
  --orange-950: #471B03;
}

/* Suppress all selection/drag while pointer-dragging a list item */
body.dragging *,
body.dragging img {
  user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
}
